table {
    border-collapse: collapse;
}

thead {
    background: var(--gray);
}

th, td {
    border: 1px solid var(--gray-light);
    padding: var(--padding);
}

tr:nth-child(even){
    background-color: var(--gray-v-light);
}