:root {
    /* Primary Palette */
    --dark-blue: #142b44;
    --nav-blue: #1d508d;
    --lp-blue: #297CBB;
    --link-blue: #288ad6;
    --teal: #0FDEBD;
    --green: #16c98d;
    --yellow: #feef6d;
    --orange: #ffc83f;
    --red: #fa5e5b;
    --plum: #bf538d;

    /* Secondary Palette */
    --mauve: #684e79;
    --pink: #ff708e;
    --dark-cyan: #47a899;
    --soft-blue: #8abee5;
    --soft-green: #c7e6aa;
    --beige: #cfcbaf;
    --maroon: #582c2b;
    --dark-red: #841e1b;

    /* Gray Palette */
    --dark-gray: #2c3643;
    --title-gray: #3b444f;
    --body-gray: #67747c;
    --light-gray: #99a9b3;
    --subdued-gray: #dbe6ec;
}