:root {
    /* Primary Palette */
    --dark-blue: #142b44;
    --nav-blue: #1d508d;
    --lp-blue: #297CBB;
    --link-blue: #288ad6;
    --teal: #0FDEBD;
    --green: #16c98d;
    --yellow: #feef6d;
    --orange: #ffc83f;
    --red: #fa5e5b;
    --plum: #bf538d;
}