:root {
    /* Secondary Palette */
    --mauve: #684e79;
    --pink: #ff708e;
    --dark-cyan: #47a899;
    --soft-blue: #8abee5;
    --soft-green: #c7e6aa;
    --beige: #cfcbaf;
    --maroon: #582c2b;
    --dark-red: #841e1b;
}