@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('/third_party/dank-mono/dank-mono.css');

@import './variables/_primary-colors.css';
@import './variables/_secondary-colors.css';
@import './variables/_fonts.css';
@import './variables/_dimens.css';
@import './elements/body.css';
@import './elements/table.css';
@import './elements/h1.css';
@import './elements/h2.css';
@import './elements/h3.css';
@import './elements/h4.css';
@import './elements/code.css';
@import './elements/pre.css';

:root {
    --hopin-background-color: var(--electric-yellow);
    --hopin-swatch-border-color-hover: var(--eggplant-purple);
    --hopin-swatch-copy-color: var(--teal);
    --hopin-swatch-light-text-color: var(--white);
    --hopin-swatch-dark-text-color: var(--eggplant-purple);
    --hopin-main-sidebar-bg-color: var(--soft-gray);

    --hopin-home-item-outline: var(--eggplant-purple);
    --hopin-home-item-color-1: var(--electric-yellow);
    --hopin-home-item-color-2: var(--teal);
    --hopin-home-item-color-3: var(--pink);

    --hopin-home-item-border-color: var(--gray);
    --hopin-home-item-shadow-color: var(--gray);

    --hopin-header-logo-display: block;
    --hopin-header-logo-bg-img: url('/gauntface/components/logo/logo-128.svg');
}

.__hopin__c-swatch-group__href {
    display: none;
}