---
styles:
  inline:
    - ../../variables/z-index.css
    - ./content.css
---
<div class="__hopin__l-main">
  <input type="checkbox" id="__hopin__l-main__sidebar-checkbox" />

  <div class="__hopin__l-main__header">
    {{hopin_loadComponent '../../components/header/header.tmpl'}}
  </div>
  
  <div class="__hopin__l-main__content">
    {{content}}
  </div>

  <div class="__hopin__l-main__sidebar">
    {{hopin_loadComponent '../../components/sidebar/sidebar.tmpl'}}
  </div>
  <label class="__hopin__l-main__backdrop" for="__hopin__l-main__sidebar-checkbox"></label>
</div>

{{hopin_loadComponent '../../components/grid-overlay/grid-overlay.tmpl'}}