.__hopin__c-swatch-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: var(--hopin-switch-group-row-gap, 30px);
}

.__hopin__c-swatch {
    display: flex;
    flex-direction: column;
}

.__hopin__c-swatch__color {
    box-sizing: border-box;
    width: var(--hopin-swatch-width-mobile, 150px);
    height: var(--hopin-swatch-height-mobile, 100px);
    border-style: solid;
    border-width: var(--hopin-swatch-border-width, 1px);
    border-color: var(--hopin-swatch-border-color, #C4C4C4);
}

.__hopin__c-swatch__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__hopin__c-swatch__copytext {
    visibility: hidden;
    color: var(--hopin-swatch-copy-color, inherit);
}

.__hopin__c-swatch:hover {
    cursor: pointer;
}

.__hopin__c-swatch:hover .__hopin__c-swatch__color {
    border-width: var(--hopin-swatch-border-width-hover, 2px);
    border-color: var(--hopin-swatch-border-color-hover, #848484);
}

.__hopin__c-swatch:hover .__hopin__c-swatch__copytext {
    visibility: visible;
}
