.__hopin__l-home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--hopin-swatch-min-width, 200px), 1fr));
    grid-row-gap: var(--hopin-home-item-vert-gap, 40px);
    grid-column-gap: var(--hopin-home-item-hori-gap, 80px);
}

.__hopin__c-home-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.__hopin__c-home-item--content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: var(--hopin-home-item-height-mobile, 150px);

    box-sizing: border-box;
    border-style: solid;
    border-radius: 5px;
    border-width: var(--hopin-home-item-border-width, 1px);
    border-color: var(--hopin-home-item-border-color, #C4C4C4);
    box-shadow: 0 3px 4px 0 var(--hopin-home-item-shadow-color, #C4C4C4);
}

.__hopin__c-home-item--link {
    text-decoration: none;
}

.__hopin__c-home-item--footer {
    font-weight: bold;
    font-size: var(--hopin-home-item-font-size, 1.4em);
}

.__hopin__c-home-item--content {
    color: var(--hopin-home-item-outline, #454545);
    font-weight: bold;
    font-size: var(--hopin-home-item-font-size, 3em);
}

.__hopin__c-color-symbol--right-circle {
    fill: var(--hopin-home-item-color-2, #00aeef);
}

.__hopin__c-color-symbol--left-circle {
    fill: var(--hopin-home-item-color-3, #ec008c);
}

.__hopin__c-color-symbol--top-circle {
    fill: var(--hopin-home-item-color-1, #fff200);
}

.__hopin__c-color-symbol--circle-outline {
    stroke: var(--hopin-home-item-outline, #454545);
}

.__hopin__c-dimens-symbol--square {
    stroke: var(--hopin-home-item-outline, #454545);
    fill: var(--hopin-home-item-color-1, #fff200);
}

.__hopin__c-dimens-symbol--rule {
    stroke: var(--hopin-home-item-color-3, #ec008c);
}

.__hopin__c-layout-symbol--left, .__hopin__c-layout-symbol--right, .__hopin__c-layout-symbol--bottom {
    stroke: var(--hopin-home-item-outline, #454545);
}

.__hopin__c-layout-symbol--left {
    fill: var(--hopin-home-item-color-2, #00aeef);
}

.__hopin__c-layout-symbol--right {
    fill: var(--hopin-home-item-color-3, #ec008c);
}

.__hopin__c-layout-symbol--bottom {
    fill: var(--hopin-home-item-color-1, #fff200);
}

.__hopin__c-component-symbol--fill {
    fill: var(--hopin-home-item-outline, #454545);
}

.__hopin__c-component-symbol--detail {
    fill: var(--hopin-home-item-bg, white);
}