.__hopin__c-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: var(--hopin-header-height-mobile, 60px);
    background-color: var(--hopin-background-color, #dcdde1);
    padding: var(--hopin-header-padding-vert-mobile, 15px) var(--hopin-header-padding-hori-mobile, 40px);
}