.__hopin__c-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.__hopin__c-header__logo {
    display: var(--hopin-header-logo-display, none);
    width: var(--hopin-header-logo-size, 70px);
    height: var(--hopin-header-logo-size, 70px);
    background-image: var(--hopin-header-logo-bg-img, none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: var(--hopin-header-logo-vert-padding, 15px) var(--hopin-header-logo-hori-padding, 40px);
}

.__hopin__c-header__title {
    font-weight: var(--hopin-header-font-weight, normal);
    font-size: var(--hopin-header-font-size, 30px);
}

.__hopin__c-header__link {
    text-decoration: none;
}