---
styles:
  inline:
    - ./sidebar.css
---
<ul class="__hopin__c-sidebar">
    <li>Variables</li>
        <ul>
            <li><a href="/colors.html">Colors</a></li>
            <li><a href="/dimensions.html">Dimensions</a></li>
            <li><a href="/fonts.html">Fonts</a></li>
        </ul>
    <li>Elements</li>
        <ul>
            <li>Typography</li>
            <li>Lists</li>
            <li>Quotes</li>
        </ul>
    <li>Code</li>
    <li>Components</li>
        <ul>
            <li>Frames</li>
            <li>Images</li>
            <li>Figure</li>
        </ul> 
    <li>Layout</li>
</ul>