---
styles:
  inline:
    - ./sidebar.css
---
<ul class="__hopin__c-sidebar">
    <li><strong>Variables</strong></li>
        <ul>
            <li><a href="/colors.html">Colors</a></li>
            <li><a href="/dimensions.html">Dimensions</a></li>
            <li><a href="/fonts.html">Fonts</a></li>
        </ul>
    <li><strong>Elements</strong></li>
        <ul>
            <li><a href="/typography.html">Typography</a></li>
            <li>Lists</li>
            <li>Quotes</li>
            <li>Code</li>
            <li>IFrames</li>
            <li>Images</li>
            <li>Figure</li>
        </ul>
    <li><strong>Components</strong></li>
        <ul>
        </ul> 
    <li><strong>Layouts</strong></li>
        <ul>
        </ul> 
    <li><strong>Developer Tools</strong></li>
        <ul>
            <li><a href="/css-naming.html">CSS Naming</a></li>
        </ul>
</ul>