---
styles:
   inline:
     - './header.css'
---
<header class="__hopin__c-header">
    <div class="__hopin__c-header__logo"></div>
    <div class="__hopin__c-header__title"><a class="__hopin__c-header__link"href="/">Style Guide</a></div>
</header>